.container > .habit-board {
  display: flex;
  flex-direction: column;
}
.action-col {
  min-width: 300px;
  width: 300px;
}

.habit-board {
  overflow-x: scroll;
}
.node-container {
  vertical-align: middle;
  text-align: center;
}

.board-column {
  text-align: center;
}
.node {
  height: 30px;
  width: 30px;
  padding: 2px;
  margin: 2px;
  background-color: black;
}
.row-header {
  width: 100px;
  text-align: center;
}
.row-container {
  padding: 20px;
}
